In [1]:
# 필요한 라이브러리를 불러옵니다.
import pandas as pd
import numpy as np

In [2]:
# 크롤링으로 가져올 url 주소를 입력합니다.
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
print(url)

http://www.seoul.go.kr/coronaV/coronaStatus.do

In [3]:
!pip install lxml
!pip install urllib

Requirement already satisfied: lxml in c:\users\dain\appdata\local\programs\python\python39\lib\site-packages (4.6.3)

ERROR: Could not find a version that satisfies the requirement urllib (from versions: none)
ERROR: No matching distribution found for urllib

In [4]:
"""
11월 중순 이후 확진자가 증가하면서 데이터 공개 방식이 달라져서 pandas 의 read_html 로는 불러올 수가 없습니다.
기존의 read_html 로는 컬럼명을 불러오고 데이터는 requests 라는 라이브러리를 통해 읽어옵니다.
"""

'\n11월 중순 이후 확진자가 증가하면서 데이터 공개 방식이 달라져서 pandas 의 read_html 로는 불러올 수가 없습니다.\n기존의 read_html 로는 컬럼명을 불러오고 데이터는 requests 라는 라이브러리를 통해 읽어옵니다.\n'

In [5]:
# pandas의 read_html : url에 있는 table을 불러오는 함수.
table = pd.read_html(url)
print(table[5])

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [6]:
len(table)

8

In [7]:
# read_html 은 사이트 내의 html 태그를 불러옵니다.
# table 변수 안에 있는 table 태그의 값을 하나씩 읽어보며 확진자 목록이 있는 테이블을 가져옵니다.
table[0]

,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,동대문구,동작구,마포구
0,7235,4124,2870,4708,5658,3691,4658,2275,4150,2809,3881,4331,3969
1,+31,+41,+31,+24,+25,+20,+56,+25,+38,+22,+39,+31,+34
2,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,기타
3,2874,4440,3005,4031,6740,3505,4768,2853,4553,1816,1875,3984,7529
4,+21,+22,+10,+31,+44,+31,+41,+13,+36,+30,+12,+36,+32

In [8]:
table[1]

     강남구   강동구   강북구   강서구   관악구   광진구
0   7235  4124  2870  4708  5658  3691
1    +31   +41   +31   +24   +25   +20
2    구로구   금천구   노원구   도봉구  동대문구   동작구
3   4658  2275  4150  2809  3881  4331
4    +56   +25   +38   +22   +39   +31
5    마포구  서대문구   서초구   성동구   성북구   송파구
6   3969  2874  4440  3005  4031  6740
7    +34   +21   +22   +10   +31   +44
8    양천구  영등포구   용산구   은평구   종로구    중구
9   3505  4768  2853  4553  1816  1875
10   +31   +41   +13   +36   +30   +12
11   중랑구    기타   NaN   NaN   NaN   NaN
12  3984  7529   NaN   NaN   NaN   NaN
13   +36   +32   NaN   NaN   NaN   NaN

In [9]:
# 미리보기 합니다.
# 코로나 초기만 하더라도 환자수가 지금보다 적었기 때문에 서울 확진자 현황 데이터를 웹사이트 한 개 페이지에 모두 출력할 수 있었지만, 시간이 흐를수록 환자수가 증가하여 여러 개 페이지(1, 2, 3, ...)로 나눠서 출력하는 방식으로 변경되었습니다.
df = table[5]
df.head()

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

## 11월 중순 이후 데이터 공개방식 변경

In [10]:
import requests

In [11]:

# print(url)
# url2 = f'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php'
# url2 = f'{url}?draw={3}&columns[0][data]=0&columns[0][name]=&columns[0][searchable]=true&columns[0][orderable]=true&columns[0][search][value]=&columns[0][search][regex]=false&columns[1][data]=1&columns[1][name]=&columns[1][searchable]=true&columns[1][orderable]=true&columns[1][search][value]=&columns[1][search][regex]=false&columns[2][data]=2&columns[2][name]=&columns[2][searchable]=true&columns[2][orderable]=true&columns[2][search][value]=&columns[2][search][regex]=false&columns[3][data]=3&columns[3][name]=&columns[3][searchable]=true&columns[3][orderable]=true&columns[3][search][value]=&columns[3][search][regex]=false&columns[4][data]=4&columns[4][name]=&columns[4][searchable]=true&columns[4][orderable]=true&columns[4][search][value]=&columns[4][search][regex]=false&columns[5][data]=5&columns[5][name]=&columns[5][searchable]=true&columns[5][orderable]=true&columns[5][search][value]=&columns[5][search][regex]=false&columns[6][data]=6&columns[6][name]=&columns[6][searchable]=true&columns[6][orderable]=true&columns[6][search][value]=&columns[6][search][regex]=false&order[0][column]=0&order[0][dir]=desc'
# url2 = f'{url}&start={200}&length={100}&search[value]=&search[regex]=true&_=1632743530446'

In [12]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\dain\appdata\local\programs\python\python39\lib\site-packages (4.61.0)

In [15]:
from tqdm import trange # view progress status

data_list = []

for page_num in trange(0,564):
    url = f'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php'
    url = f'{url}?draw={page_num+1}&columns[0][data]=0&columns[0][name]=&columns[0][searchable]=true&columns[0][orderable]=true&columns[0][search][value]=&columns[0][search][regex]=false&columns[1][data]=1&columns[1][name]=&columns[1][searchable]=true&columns[1][orderable]=true&columns[1][search][value]=&columns[1][search][regex]=false&columns[2][data]=2&columns[2][name]=&columns[2][searchable]=true&columns[2][orderable]=true&columns[2][search][value]=&columns[2][search][regex]=false&columns[3][data]=3&columns[3][name]=&columns[3][searchable]=true&columns[3][orderable]=true&columns[3][search][value]=&columns[3][search][regex]=false&columns[4][data]=4&columns[4][name]=&columns[4][searchable]=true&columns[4][orderable]=true&columns[4][search][value]=&columns[4][search][regex]=false&columns[5][data]=5&columns[5][name]=&columns[5][searchable]=true&columns[5][orderable]=true&columns[5][search][value]=&columns[5][search][regex]=false&columns[6][data]=6&columns[6][name]=&columns[6][searchable]=true&columns[6][orderable]=true&columns[6][search][value]=&columns[6][search][regex]=false&order[0][column]=0&order[0][dir]=desc'
    url = f'{url}&start={page_num*100}&length={100}&search[value]=&search[regex]=true&_=1632743530445'
    response = requests.get(url)
    data_json = response.json()
    data = pd.DataFrame(data_json["data"])
    data_list.append(data)

# draw : 1,2,3,4,5...
# start : 0, 100, 200, 300...

100%|██████████| 564/564 [04:20<00:00,  2.16it/s]

In [16]:
for page_num in trange(0,500):
    url2 = f'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?'
    url2 = f'{url2}draw={page_num+1}&columns[0][data]=0&columns[0][name]=&columns[0][searchable]=true&columns[0][orderable]=true&columns[0][search][value]=&columns[0][search][regex]=false&columns[1][data]=1&columns[1][name]=&columns[1][searchable]=true&columns[1][orderable]=true&columns[1][search][value]=&columns[1][search][regex]=false&columns[2][data]=2&columns[2][name]=&columns[2][searchable]=true&columns[2][orderable]=true&columns[2][search][value]=&columns[2][search][regex]=false&columns[3][data]=3&columns[3][name]=&columns[3][searchable]=true&columns[3][orderable]=true&columns[3][search][value]=&columns[3][search][regex]=false&columns[4][data]=4&columns[4][name]=&columns[4][searchable]=true&columns[4][orderable]=true&columns[4][search][value]=&columns[4][search][regex]=false&columns[5][data]=5&columns[5][name]=&columns[5][searchable]=true&columns[5][orderable]=true&columns[5][search][value]=&columns[5][search][regex]=false&columns[6][data]=6&columns[6][name]=&columns[6][searchable]=true&columns[6][orderable]=true&columns[6][search][value]=&columns[6][search][regex]=false&order[0][column]=0&order[0][dir]=desc'
    url2 = f'{url2}&start={page_num*100}&length={100}&search[value]=&search[regex]=true&_=1632743530447'
    response = requests.get(url)
    data_json = response.json()
    data = pd.DataFrame(data_json["data"])
    data_list.append(data)

100%|██████████| 500/500 [03:52<00:00,  2.15it/s]

In [17]:
covid_df = pd.concat(data_list)
covid_df

,0,1,2,3,4,5,6
0,<p class='corona19_no'>106332</p>,327968,2021-10-07,은평구,-,마포구 소재 시장 관련,<b class=''>-</b>
1,<p class='corona19_no'>106331</p>,327907,2021-10-07,영등포구,-,감염경로 조사중,<b class=''>-</b>
2,<p class='corona19_no'>106330</p>,327842,2021-10-07,구로구,-,감염경로 조사중,<b class=''>-</b>
3,<p class='corona19_no'>106329</p>,327811,2021-10-07,동대문구,-,감염경로 조사중,<b class=''>-</b>
4,<p class='corona19_no'>106328</p>,327703,2021-10-07,성북구,-,감염경로 조사중,<b class=''>-</b>
...,...,...,...,...,...,...,...
27,<p class='corona19_no'>50005</p>,157446,2021-06-30,성동구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
28,<p class='corona19_no'>50004</p>,157443,2021-06-30,성동구,-,타시도 확진자 접촉,<b class='status1'>퇴원</b>
29,<p class='corona19_no'>50003</p>,157196,2021-06-30,중랑구,-,감염경로 조사중,<b class='status1'>퇴원</b>
30,<p class='corona19_no'>50002</p>,157129,2021-06-30,동작구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
31,<p class='corona19_no'>50001</p>,157110,2021-06-30,서초구,-,병원 및 요양시설,<b class='status1'>퇴원</b>

In [18]:
# f-string
url_current = f'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=1'
# url_current = f'{url_current}&columns[0][data]=0&columns[0][name]=&columns[0][searchable]=true&columns[0][orderable]=true&columns[0][search][value]=&columns[0][search][regex]=false&columns[1][data]=1&columns[1][name]=&columns[1][searchable]=true&columns[1][orderable]=true&columns[1][search][value]=&columns[1][search][regex]=false&columns[2][data]=2&columns[2][name]=&columns[2][searchable]=true&columns[2][orderable]=true&columns[2][search][value]=&columns[2][search][regex]=false&columns[3][data]=3&columns[3][name]=&columns[3][searchable]=true&columns[3][orderable]=true&columns[3][search][value]=&columns[3][search][regex]=false&columns[4][data]=4&columns[4][name]=&columns[4][searchable]=true&columns[4][orderable]=true&columns[4][search][value]=&columns[4][search][regex]=false&columns[5][data]=5&columns[5][name]=&columns[5][searchable]=true&columns[5][orderable]=true&columns[5][search][value]=&columns[5][search][regex]=false&columns[6][data]=6&columns[6][name]=&columns[6][searchable]=true&columns[6][orderable]=true&columns[6][search][value]=&columns[6][search][regex]=false&order[0][column]=0&order[0][dir]=desc'
url_current = f'{url_current}&start={0}&length={10}&search[value]=&search[regex]=true&_=1632192367910'

url_pre = f'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=1'
# url_pre = f'{url_pre}&columns[0][data]=0&columns[0][name]=&columns[0][searchable]=true&columns[0][orderable]=true&columns[0][search][value]=&columns[0][search][regex]=false&columns[1][data]=1&columns[1][name]=&columns[1][searchable]=true&columns[1][orderable]=true&columns[1][search][value]=&columns[1][search][regex]=false&columns[2][data]=2&columns[2][name]=&columns[2][searchable]=true&columns[2][orderable]=true&columns[2][search][value]=&columns[2][search][regex]=false&columns[3][data]=3&columns[3][name]=&columns[3][searchable]=true&columns[3][orderable]=true&columns[3][search][value]=&columns[3][search][regex]=false&columns[4][data]=4&columns[4][name]=&columns[4][searchable]=true&columns[4][orderable]=true&columns[4][search][value]=&columns[4][search][regex]=false&columns[5][data]=5&columns[5][name]=&columns[5][searchable]=true&columns[5][orderable]=true&columns[5][search][value]=&columns[5][search][regex]=false&columns[6][data]=6&columns[6][name]=&columns[6][searchable]=true&columns[6][orderable]=true&columns[6][search][value]=&columns[6][search][regex]=false&order[0][column]=0&order[0][dir]=desc'
url_pre = f'{url_pre}&start={0}&length={10}&search[value]=&search[regex]=true&_=1632192367920'

In [19]:
import math

response_current = requests.get(url_current)
data_json_current = response_current.json()
current_recordsTotal = data_json_current['recordsTotal']
# print(current_recordsTotal)
current_page = math.ceil(current_recordsTotal / 100)
current_page

response_pre = requests.get(url_pre)
data_json_pre = response_pre.json()
pre_recordsTotal = data_json_pre['recordsTotal']
# print(pre_recordsTotal)
pre_page = math.ceil(pre_recordsTotal / 100)
pre_page

500

In [20]:
def get_current_data(page_no):
    start = (page_no-1) * 100
    url = f'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw={page_no}'
    url = f'{url}&start={start}&length={100}&search[value]=&search[regex]=true&_=1632192367910'
    
    response = requests.get(url)
    data_json = response.json()

    return data_json
    
    
def get_pre_data(page_no):
    start = (page_no-1) * 100
    url = f'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw={page_no}'
    url = f'{url}&start={start}&length={100}&search[value]=&search[regex]=true&_=1632192367920'
        
    response = requests.get(url)
    data_json = response.json()

    return data_json

In [21]:
# !pip install tqdm

In [22]:
import time #sleep()
from tqdm import trange # view progress status

In [23]:
page_list = []
for page_no in trange(current_page):
    current_data = get_current_data(page_no + 1)
    data = pd.DataFrame(current_data["data"])

    if(len(data)>0):
        page_list.append(data)
        # time.sleep(0.5)
    else : 
        break
    
for page_no in trange(pre_page):
    pre_data = get_pre_data(page_no + 1)
    data = pd.DataFrame(pre_data["data"])
    if(len(data)>0):
        page_list.append(data)
        # time.sleep(0.5)
    else : 
        break

pd.concat(page_list)

100%|██████████| 564/564 [04:36<00:00,  2.04it/s]
100%|██████████| 500/500 [03:54<00:00,  2.13it/s]

,0,1,2,3,4,5,6
0,<p class='corona19_no'>106332</p>,327968,2021-10-07,은평구,-,마포구 소재 시장 관련,<b class=''>-</b>
1,<p class='corona19_no'>106331</p>,327907,2021-10-07,영등포구,-,감염경로 조사중,<b class=''>-</b>
2,<p class='corona19_no'>106330</p>,327842,2021-10-07,구로구,-,감염경로 조사중,<b class=''>-</b>
3,<p class='corona19_no'>106329</p>,327811,2021-10-07,동대문구,-,감염경로 조사중,<b class=''>-</b>
4,<p class='corona19_no'>106328</p>,327703,2021-10-07,성북구,-,감염경로 조사중,<b class=''>-</b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>5</p>,9,2020-01-31,성북구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
96,<p class='corona19_no'>4</p>,7,2020-01-30,마포구,중국,해외유입,<b class='status1'>퇴원</b>
97,<p class='corona19_no'>3</p>,6,2020-01-30,종로구,-,종로구 집단발병,<b class='status1'>퇴원</b>
98,<p class='corona19_no'>2</p>,5,2020-01-30,중랑구,중국,해외유입,<b class='status1'>퇴원</b>
99,<p class='corona19_no'>1</p>,2,2020-01-24,강서구,중국,해외유입,<b class='status1'>퇴원</b>

In [24]:
covid_df = pd.concat(page_list)

In [25]:
# read_html 로 읽어온 3번째 테이블의 컬럼명을 수집한 데이터의 컬럼으로 사용합니다.
cols = ['연번', '환자', '확진일', '거주지', '여행력', '접촉력', '퇴원현황']

In [26]:
covid_df.columns = cols

In [27]:
covid_df.head()

,연번,환자,확진일,거주지,여행력,접촉력,퇴원현황
0,<p class='corona19_no'>106332</p>,327968,2021-10-07,은평구,-,마포구 소재 시장 관련,<b class=''>-</b>
1,<p class='corona19_no'>106331</p>,327907,2021-10-07,영등포구,-,감염경로 조사중,<b class=''>-</b>
2,<p class='corona19_no'>106330</p>,327842,2021-10-07,구로구,-,감염경로 조사중,<b class=''>-</b>
3,<p class='corona19_no'>106329</p>,327811,2021-10-07,동대문구,-,감염경로 조사중,<b class=''>-</b>
4,<p class='corona19_no'>106328</p>,327703,2021-10-07,성북구,-,감염경로 조사중,<b class=''>-</b>

In [45]:
covid_df.shape

(106332, 7)

## 데이터 전처리
### 연번과 퇴원현황

In [29]:
import re
def extract_number(num_string):
    if type(num_string) == str:
        num_string = num_string.replace("corona19", "")
        num = re.sub("[^0-9]", "", num_string)
        num = int(num)
        return num
    else:
        return num_string

In [47]:
num_string = "<p class='corona19_no'>97655</p>"
extract_number(num_string)

97655

In [48]:
covid_df["연번"] = covid_df["연번"].map(extract_number)

In [49]:
covid_df.tail()

    연번 환자         확진일  거주지 여행력        접촉력 퇴원현황
95   5  9  2020-01-31  성북구   -  기타 확진자 접촉   퇴원
96   4  7  2020-01-30  마포구  중국       해외유입   퇴원
97   3  6  2020-01-30  종로구   -   종로구 집단발병   퇴원
98   2  5  2020-01-30  중랑구  중국       해외유입   퇴원
99   1  2  2020-01-24  강서구  중국       해외유입   퇴원

In [51]:
def extract_hangeul(origin_text):
    subtract_text = re.sub("[^가-힣]", "", origin_text)
    return subtract_text

covid_df["퇴원현황"] = covid_df["퇴원현황"].map(extract_hangeul)
covid_df.tail()

    연번 환자         확진일  거주지 여행력        접촉력 퇴원현황
95   5  9  2020-01-31  성북구   -  기타 확진자 접촉   퇴원
96   4  7  2020-01-30  마포구  중국       해외유입   퇴원
97   3  6  2020-01-30  종로구   -   종로구 집단발병   퇴원
98   2  5  2020-01-30  중랑구  중국       해외유입   퇴원
99   1  2  2020-01-24  강서구  중국       해외유입   퇴원

In [52]:
extract_hangeul("<b class='status1'>퇴원</b>")

'퇴원'

In [53]:
extract_hangeul("<b class='status2'>사망</b>")

'사망'

In [54]:
extract_hangeul("<b class=''>-</b>")

''

In [37]:
# 정규표현식으로 변경하는 방법도 있고 str.contains를 사용하는 방법도 있습니다.
# df_all["퇴원현황"] = df_all["퇴원현황"].map(extract_hangeul)
# df_all["퇴원현황"].value_counts()

In [55]:
covid_df["퇴원현황"].value_counts()

퇴원    90141
      15518
사망      673
Name: 퇴원현황, dtype: int64

In [39]:
# covid_df.loc[covid_df["퇴원현황"].str.contains("퇴원"), "퇴원현황"] = "퇴원"
# covid_df.loc[covid_df["퇴원현황"].str.contains("사망"), "퇴원현황"] = "사망"
# covid_df.loc[~covid_df["퇴원현황"].str.contains("퇴원|사망"), "퇴원현황"] = np.nan
# covid_df["퇴원현황"].value_counts()

In [57]:
last_date = covid_df.iloc[0]["확진일"]
last_date

'2021-10-07'

In [41]:
# 마지막 확진일을 파일명에 써주기 위해 . 을 _ 로 변경합니다.
# 확장자와 구분이 쉽게 되도록 _ 로 변경합니다. 
# date = last_date.replace(".", "_")
# date

In [58]:
# 파일명을 만들어 줍니다.
# file_name

file_name = f"seoul-covid19-{last_date}.csv"
file_name

'seoul-covid19-2021-10-07.csv'

In [43]:
# csv 파일로 저장합니다.
covid_df.to_csv(file_name, index=False)

In [44]:
# 제대로 저장되었는지 확인합니다.
pd.read_csv(file_name)

            연번      환자         확진일   거주지 여행력           접촉력 퇴원현황
0       106332  327968  2021-10-07   은평구   -  마포구 소재 시장 관련  NaN
1       106331  327907  2021-10-07  영등포구   -      감염경로 조사중  NaN
2       106330  327842  2021-10-07   구로구   -      감염경로 조사중  NaN
3       106329  327811  2021-10-07  동대문구   -      감염경로 조사중  NaN
4       106328  327703  2021-10-07   성북구   -      감염경로 조사중  NaN
...        ...     ...         ...   ...  ..           ...  ...
106327       5       9  2020-01-31   성북구   -     기타 확진자 접촉   퇴원
106328       4       7  2020-01-30   마포구  중국          해외유입   퇴원
106329       3       6  2020-01-30   종로구   -      종로구 집단발병   퇴원
106330       2       5  2020-01-30   중랑구  중국          해외유입   퇴원
106331       1       2  2020-01-24   강서구  중국          해외유입   퇴원

[106332 rows x 7 columns]